<div class="container-fluid">
  <div class="row">
    <div class="First_Div col-md-6 col-sm-12">
      <!--  @if (ViewData["LoginResult" | translate }} is not null)
            {
      <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close"
          >&times;</a
        >
        @ViewData["LoginResult" | translate }}
      </div> -->

      <div class="header">
        <h3>
          {{ "Get Started" | translate }}
          <i class="fa fa-arrow-right"></i>
        </h3>
        <p>{{ "Sub Get Started" | translate }}</p>
      </div>
      <form
        class="body"
        id="account"
        #loginForm="ngForm"
        (ngSubmit)="login()"
        autocomplete="off"
      >
        <div class="Icon-inside my-2 form-group">
          <input
            [(ngModel)]="model.AccountNumber"
            name="AccountNumber"
            required 
            class="form-control"
            placeholder="{{ 'UserName' | translate }}"
          />
          <img
            src="../../assets/Images/PharmacyIcon.png"
            alt="Alternate Text"
          />
        </div>
        <div class="Icon-inside my-2 form-group">
          <input
            [(ngModel)]="model.Password"
            name="Password"
            required
            asp-for="Input.Password"
            class="form-control"
            placeholder="{{ 'Password' | translate }}"
          />
          <i class="fa fa-lock"></i>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input
                type="checkbox"
                [(ngModel)]="model.RememberMe"
                name="RememberMe"
              />
              {{ "Remember me" | translate }}
            </label>
          </div>
        </div>
        <button type="submit" class="btn">
          {{ "Login" | translate }}
          <i class="fa fa-angle-double-right"></i>
        </button>
      </form>
    </div>

    <div class="Second_Div col-md-6 col-sm-12">
      <div class="Child_Second_Div">
        <div class="Sub_Child">
          <img src="../../assets/Images/Login_2.png" alt="Alternate Text" />
          <h3>{{ "Gaza Central Company" | translate }}</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 15 ummy text ever since the 15
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
