<section id="our-values">
  <div class="content-section">
    <h2 class="section-title">Our Values</h2>
    <div class="our-values-cards">
      <div class="row justify-content-center">
        <div class="card col-md-5 col-lg-2">
          <div class="card-body">
            <h5 class="card-title">Piety</h5>
            <p class="card-text">
              We fear God in our work and our dealings with the others
            </p>
          </div>
        </div>
        <div class="card col-md-5 col-lg-2">
          <div class="card-body">
            <h5 class="card-title">Honesty</h5>
            <p class="card-text">
              We are honest in our dealings and every work we do
            </p>
          </div>
        </div>
        <div class="card col-md-5 col-lg-2">
          <div class="card-body">
            <h5 class="card-title">Daring</h5>
            <p class="card-text">
              We work without hesitation, courage and courage under all
              circumstances and take risks
            </p>
          </div>
        </div>
        <div class="card col-md-5 col-lg-2">
          <div class="card-body">
            <h5 class="card-title">Mercy</h5>
            <p class="card-text">
              We have compassion among ourselves, between ourselves and others
            </p>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="card col-md-5 col-lg-2">
          <div class="card-body">
            <h5 class="card-title">Pharmaceutical professional</h5>
            <p class="card-text">
              Our work is of a professional nature, we are primarily concerned
              with delivering the appropriate and effective medicine to patients
              before any consideration
            </p>
          </div>
        </div>
        <div class="card col-md-5 col-lg-2">
          <div class="card-body">
            <h5 class="card-title">Team spirit</h5>
            <p class="card-text">
              We work together hand in hand to achieve our goals with complete
              success
            </p>
          </div>
        </div>
        <div class="card col-md-5 col-lg-2">
          <div class="card-body">
            <h5 class="card-title">Staff development</h5>
            <p class="card-text">We develop our employees to the maximum</p>
          </div>
        </div>
        <div class="card col-md-5 col-lg-2">
          <div class="card-body">
            <h5 class="card-title">Excellence in performance</h5>
            <p class="card-text">
              We strive for excellence in everything we do
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
