<section id="contact-us">
    <div class="content-section">
        <h2 class="section-title">Contact Us</h2>
        <p class="section-description">
            Leave Us Your Message
        </p>
        <div class="contact-us-container">
            <div class="contact-info">
                <div class="title">Get In Touch With Us...</div>
                <div class="contacts">
                    <div class="contact">
                        <img src="../../../assets/icons/phone-2.png" />
                        08 2864119
                    </div>
                    <div class="contact">
                        <img src="../../../assets/icons/email-2.png" />
                        GazaCentralCompany@gmail.com
                    </div>
                    <div class="contact">
                        <img src="../../../assets/icons/printer-2.png" />
                        08 2820674
                    </div>
                    <div class="contact">
                        <img src="../../../assets/icons/phone-2.png" />
                        059 8887892
                    </div>
                </div>
            </div>
            <form class="contact-form">
                <div class="form-group">
                    <label>Contact us now to send you an account number for your pharmacy</label>
                    <input type="email" placeholder="Email" class="form-control" id="emailInput" style="height: 50px;" /><br />
                    <textarea placeholder="Enter Your Message" class="form-control" id="messageInput"></textarea>
                </div>
                <button class="btn btn-order" type="button" id="sendMessage">Send <i class="fa fa-angle-double-right" id="snipp"></i></button>
            </form>
        </div>
    </div>
</section>
