<section id="management">
  <div class="content-section">
    <h2 class="section-title">Management</h2>
    <div class="management-cards mx-5">
      <div class="card mx-sm-3 shadow">
        <div class="row no-gutters">
          <div class="col-md-2 text-center text-md-left">
            <img
              class="card-img"
              src="../../../assets/Images/girl-management.png"
              alt="Suresh Dasari Card"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">Haifa Sharab</h5>
              <p class="card-text">Chairman of the Board</p>
              <hr />
              <p>
                She was born in the year 1948 AD and is considered one of the
                first women to enter the world of business and commerce in the
                Gaza Strip, and she held many administrative positions,
                including: Founding member and board member of the Middle East
                Laboratories Company for the Pharmaceutical and Cosmetics
                Manufacturing Company LLC. Chairman of the Board of Directors of
                the Gaza Central Warehouse Company for Pharmaceuticals and
                Medical Supplies. She has participated in many conferences and
                workshops related to local and international trade and economy,
                and has close relations with many businessmen, merchants, and
                public and private figures at the national level. She is a
                member of the Business Women Forum, in addition to her
                membership in the Palestinian Chamber of Commerce.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mx-sm-3 shadow">
        <div class="row no-gutters">
          <div class="col-md-2 text-center text-md-left">
            <img
              class="card-img"
              src="../../../assets/Images/man-management.png"

              alt="Suresh Dasari Card"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">Nader Sharab</h5>
              <p class="card-text">
                Vice Chairman and General Manager and Director of Public Sector
                Sales and Institutions "Tenders"
              </p>
              <hr />
              <p>
                Born in 1968, he studied chemical engineering in Vienna and
                holds Austrian citizenship in addition to Palestinian
                citizenship. He is fluent in English and German in addition to
                Arabic. He is considered one of the prominent figures in society
                through his close relations with many international and local
                institutions and civil society institutions. He is considered an
                active participant in Many local and international political,
                commercial and economic conferences and workshops. In addition
                to his active membership in the following institutions: .Member
                of the Palestinian Businessmen Association. Member of the
                Palestinian Chamber of Commerce
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mx-sm-3 shadow">
        <div class="row no-gutters">
          <div class="col-md-2 text-center text-md-left">
            <img
              class="card-img"
              src="../../../assets/Images/man-management.png"
              alt="Suresh Dasari Card"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">Haitham Shurrab</h5>
              <p class="card-text">
                Member of the Board of Directors, Director of Public Relations
                and Chief Financial Officer
              </p>
              <hr />
              <p>
                He was born in 1970. He holds a diploma in programming and
                public relations from Austria. He holds Austrian citizenship in
                addition to Palestinian citizenship. He is fluent in English and
                German in addition to Arabic. He is an active participant in
                many local and international conferences and trade fairs, and he
                is good at managing relationships with many commercial companies
                and financial institutions. In addition to the local and
                external community, and an active member of the Palestinian
                Chamber of Commerce.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mx-sm-3 shadow">
        <div class="row no-gutters">
          <div class="col-md-2 text-center text-md-left">
            <img
              class="card-img"
              src="../../../assets/Images/man-management.png"
              alt="Suresh Dasari Card"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">Saed Sharab</h5>
              <p class="card-text">
                Board Member, Director of Private Market Sales
              </p>
              <hr />
              <p>
                He was born in the year 1976. He holds an MBA from Al-Azhar
                University in Gaza. He participated in many social activities in
                the Gaza Strip. He has a network of relations with academics,
                intellectuals and many Palestinian merchants in various fields.
                He participated in many voluntary activities, including holding
                a course in pharmaceutical marketing for a large group. From
                pharmacists through the Palestine Pharmacists Syndicate, In
                addition to his membership in the following institutions: Member
                of the Palestinian Economists Association. Member of the
                Palestinian Chamber of Commerce.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
