<section id="sales">
  <div class="content-section">
    <h2 class="section-title">sales representatives</h2>
    <p class="section-description">
      Our sales representatives in all regions of the Gaza Strip
    </p>

    <!-- Additional required wrapper -->
    <div class="row justify-content-around">
      <div class="mr-3 col-md-3 mx-3 col-sm-12">
        <div class="sales-box">
          <div class="sales-image">
            <img src="../../../assets/Images/man.png" />
          </div>

          <div class="sales-info">
            <div class="sales-name">Salesperson Name</div>
            <div class="sales-number">
              <img src="../../../assets/icons/call.png" />
              +970 599429919
            </div>

            <div class="sales-region">
              <img src="../../../assets/icons/location2.png" alt="" />
              <h5>Gaza</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="mr-3 col-md-3 mx-3 col-sm-12">
        <div class="sales-box">
          <div class="sales-image">
            <img src="../../../assets/Images/man.png" />
          </div>
          <div class="sales-info">
            <div class="sales-name">Salesperson Name</div>
            <div class="sales-number">
              <img src="../../../assets/icons/call.png" />
              +970 598887893
            </div>

            <div class="sales-region">
              <img src="../../../assets/icons/location2.png" alt="" />
              <h5>Gaza</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="mr-3 col-md-3 mx-3 col-sm-12">
        <div class="sales-box">
          <div class="sales-image">
            <img src="../../../assets/Images/man.png" />
          </div>
          <div class="sales-info">
            <div class="sales-name">Salesperson Name</div>
            <div class="sales-number">
              <img src="../../../assets/icons/call.png" />
              +970 598887894
            </div>

            <div class="sales-region">
              <img src="../../../assets/icons/location2.png" alt="" />
              <h5>Gaza</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
