<section id="mission">
  <div class="row no-gutters">
    <div class="col-lg-6 col-sm-12 no-gutters letter text-center">
      <div>
        <div>
          <img class="img" src="../../../assets/Images/letter-logo.png" alt="" />
        </div>
        <h2 class="section-title">Our Mission</h2>
        <p>
          Our mission is to market medicines that are registered and licensed
          for circulation with the competent authorities, and of high quality
          with the highest levels of professionalism, and to provide them to all
          parts of the Gaza Strip in proportion to all segments of society and
          to ensure that they reach patients who need them at the right time,
          place and price.
        </p>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12 no-gutters vision text-center">
      <div>
        <div>
          <img class="img" src="../../../assets/Images/eye.png" alt="" />
        </div>
        <h2 class="section-title">Our Vision</h2>
        <p>
          We look forward as the first warehouse established in the Gaza Strip
          more than a quarter of a century ago to improve the public health of
          the Palestinian citizen and be at the forefront of pharmaceutical
          distribution companies in Palestine by providing all the needs of the
          Palestinian market of modern and high-quality medicines and medical
          supplies, and to continue investing and building partnership and
          exchange relations Trade with pharmaceutical companies and their
          agents on the one hand, and all public and private health institutions
          and centers spread in Palestine on the other hand, with the highest
          levels of efficiency and professionalism.
        </p>
      </div>
    </div>
  </div>
</section>
