<section id="our-success">
    <div class="content-section">
        <h2 class="section-title">Ingredients of our success</h2>
        <p class="section-description">
            Who has an honorable history has a present and a promising future
        </p>
        <div class="row">
            <div class="col-sm-12 col-md-6 item ">
                <img class="d-inline-block" src="../../../assets/icons/shape-icon.png" alt="" />
                <p class="d-inline-block">
                    We have a strong and qualified management with scientific qualifications, diverse practical experiences and distinguished leadership.
                </p>
            </div>
            <div class="col-md-6 item">
                <img src="../../../assets/icons/shape-icon.png" alt="" />
                <p>
                    We have a strong and stable board of directors that enjoys strong and solid relations with all influential parties in the Palestinian arena.
                </p>
            </div>
            <div class="col-md-6 item">
                <img src="../../../assets/icons/shape-icon.png" alt="" />
                <p>
                    We have a young staff, highly trained, expert in his fields of work, consisting of 20 cadres of specialists and qualified in the various fields necessary for the nature of our work, including administrators, sales representatives, salesmen, accountants, pharmacists, pharmacy assistants, workers.
                </p>
            </div>
            <div class="col-md-6 item">
                <img src="../../../assets/icons/shape-icon.png" alt="" />
                <p>
                    We have great financial and material capabilities as our owned assets exceed tens of times our trading volume.
                </p>
            </div>
            <div class="col-md-6 item">
                <img src="../../../assets/icons/shape-icon.png" alt="" />
                <p>
                    We have a large basket of pharmaceutical products
                </p>
            </div>
            <div class="col-md-6 item">
                <img src="../../../assets/icons/shape-icon.png" alt="" />
                <p>
                    We have strong and distinguished relationships with agents, suppliers, customers and companies working in the field of pharmaceuticals
                </p>
            </div>
            <div class="col-md-6 item">
                <img src="../../../assets/icons/shape-icon.png" alt="" />
                <p>
                    The company has clear plans to deal with the future and emerging circumstances.
                </p>
            </div>
            <div class="col-md-6 item">
                <img src="../../../assets/icons/shape-icon.png" alt="" />
                <p>
                    We rely on advanced and appropriate technology and computerized programs in managing our activities and our relationship with our customers and suppliers, and we always strive to keep pace with developments in technology to provide the best that can be offered
                </p>
            </div>
        </div>

    </div>
</section>