<section id="about-us">
  <div class="content-section">
    <h2 class="section-title">{{"About Gaza Central Company" | translate}}</h2>
    <p class="section-description">{{"Body About Gaza Central Company" | translate}}</p>
    <div class="about-us-container">
      <div class="image">
        <img
          src="../../../assets/Images/national-cancer-institute-fTQHPb6r4wQ-unsplash.png"
        />
      </div>
      <p>
        {{"Body About Gaza Central Company"| translate}}</p>
    </div>
  </div>
</section>
